@charset "UTF-8";
.encabezado {
  background-image: linear-gradient(315deg, #f896d7 0%, #d49ef3 74%);
  width: 100%;
  height: 140px; }
  .encabezado .nombreP {
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    color: white;
    text-align: center;
    width: 100%;
    padding-top: 10px; }
  .encabezado .subtituloIni {
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    margin-top: 0 auto;
    color: white; }

.bg-light {
  background-color: #fcf7f9 !important;
  border: solid #ed7efc; }

.navbar {
  padding-top: 2px;
  padding-bottom: 2px; }

.navbar-brand {
  font-family: 'Dancing Script', cursive; }

.navbar-light .navbar-brand {
  color: #6e20ad; }

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link.active {
  color: #6e20ad;
  font-family: 'Dancing Script', cursive; }

.navbar-light .navbar-nav .nav-link.disabled {
  color: #6e20ad;
  font-family: 'Dancing Script', cursive; }

.navbar-light .navbar-nav .nav-link {
  color: #6e20ad;
  font-family: 'Dancing Script', cursive;
  font-size: 20px; }

.cuerpoIni {
  background-color: #fdf9f6;
  width: 100%;
  margin: 0 auto; }
  .cuerpoIni .carousel-inner img {
    width: 100%;
    max-height: 500px; }
  .cuerpoIni .carousel-inner {
    height: 500px;
    width: 100%; }
  @media (max-width: 576px) {
    .cuerpoIni .carousel-inner {
      width: 576px;
      height: 400px; } }
  .cuerpoIni .parrafoIni {
    font-size: 25px;
    font-family: 'Sansita Swashed', cursive;
    color: #6e20ad;
    max-width: 80%;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    margin: 0 auto; }
  @media (max-width: 576px) {
    .cuerpoIni .parrafoIni {
      display: none !important; } }
  .cuerpoIni .gridIni {
    display: grid;
    grid-template-areas: "tips articulo" "reseña  entrevista";
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: center;
    justify-content: center;
    align-self: center; }
    .cuerpoIni .gridIni #tips {
      grid-area: tips;
      border: solid #6e20ad;
      background-color: #d4b7ec; }
    .cuerpoIni .gridIni #articulo {
      grid-area: articulo;
      border: solid #6e20ad;
      background-color: #d4b7ec; }
    .cuerpoIni .gridIni #reseña {
      grid-area: reseña;
      border: solid #6e20ad;
      background-color: #d4b7ec; }
    .cuerpoIni .gridIni #entrevista {
      grid-area: entrevista;
      border: solid #6e20ad;
      background-color: #d4b7ec; }
    .cuerpoIni .gridIni .imgIni {
      margin: auto;
      width: 50%;
      height: 50%;
      display: block;
      transition: height 2s, width 1s; }
    .cuerpoIni .gridIni .imgIni:hover {
      height: 52%;
      width: 52%; }
    .cuerpoIni .gridIni .pGrid {
      font-size: 20px;
      font-family: 'Sansita Swashed', cursive;
      color: #722480;
      text-align: center;
      max-width: 600px; }
  @media (max-width: 576px) {
    .cuerpoIni .gridIni {
      grid-template-columns: 500px;
      grid-row-gap: 30px;
      grid-template-areas: "tips" "articulo" "reseña" "entrevista"; } }
  @media (max-width: 576px) {
    .cuerpoIni .pGrid {
      padding-left: 50px;
      padding-right: 50px;
      max-width: 576px;
      font-size: 1.0em;
      text-align: justify; } }
  @media (max-width: 576px) {
    .cuerpoIni .imgIni {
      width: 30%;
      height: 30%; } }

.form {
  background-image: linear-gradient(315deg, #f896d7 0%, #d49ef3 74%);
  height: 200px; }
  .form #registrate {
    margin-top: 15px;
    color: #390b3d;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Sansita Swashed', cursive; }

.colorTips {
  background-color: #fdf9f6;
  width: 100%; }
  .colorTips .tituloTips {
    font-size: 40px;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #6e20ad;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    border-width: 10px;
    margin-left: 200px;
    margin-right: 200px; }
  @media (max-width: 576px) {
    .colorTips .tituloTips {
      margin-left: 50px;
      margin-right: 50px;
      max-width: 576px;
      font-size: 1.5em;
      text-align: center; } }
  .colorTips .gridTips {
    display: grid;
    grid-template-areas: "curcuma pimienta jengibre";
    grid-column-gap: 60px;
    justify-items: center;
    justify-content: center;
    align-self: center; }
    .colorTips .gridTips #curcuma {
      grid-area: curcuma;
      border: solid #f77fcf; }
    .colorTips .gridTips #pimienta {
      grid-area: pimienta;
      border: solid #f77fcf; }
    .colorTips .gridTips #jengibre {
      grid-area: jengibre;
      border: solid #f77fcf; }
    .colorTips .gridTips .colorTips {
      background-color: #fdf9f6;
      width: 100%; }
    .colorTips .gridTips .listaTabla {
      font-size: 17px;
      font-family: 'Sansita Swashed', cursive;
      color: #722480;
      text-align: justify;
      margin-left: 20px; }
    .colorTips .gridTips .tituloTabla {
      font-size: 20px;
      font-family: 'Sansita Swashed', cursive;
      color: #6e20ad;
      text-align: center; }
    .colorTips .gridTips .parrafoTabla {
      font-size: 17px;
      font-family: 'Sansita Swashed', cursive;
      color: #722480;
      text-align: center;
      max-width: 300px; }
    .colorTips .gridTips .imgT {
      margin: auto;
      width: 300px;
      height: 200px;
      transition: height 2s, width 1s; }
    .colorTips .gridTips .imgT:hover {
      height: 220px;
      width: 320px; }
  @media (max-width: 576px) {
    .colorTips .gridTips {
      grid-template-columns: 300px;
      grid-row-gap: 30px;
      grid-template-areas: "curcuma" "pimienta" "jengibre"; } }
  .colorTips .imgTips {
    margin: 10px auto;
    width: 100px;
    height: 200px;
    transition: height 2s, width 1s;
    display: block; }
  .colorTips .parrafoTips {
    font-size: 20px;
    font-family: 'Sansita Swashed', cursive;
    color: #722480;
    text-align: justify;
    padding-left: 200px;
    padding-right: 200px;
    margin-top: 10px; }
  @media (max-width: 576px) {
    .colorTips .parrafoTips {
      padding-left: 50px;
      padding-right: 50px;
      max-width: 576px;
      font-size: 1.5em;
      text-align: justify; } }
  .colorTips .videoT {
    text-align: center; }

.colorEntre {
  background-color: #fdf9f6;
  width: 100%; }
  .colorEntre .tituloEntrevista {
    font-size: 40px;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #f77fcf;
    text-align: center;
    padding-left: 20px auto;
    border-width: 10px;
    margin: 20px auto;
    width: 100%;
    height: 100px; }
  .colorEntre .gridEntre {
    display: grid;
    grid-template-areas: "letra imgE" "letra2 letra2" "letra3 imgE2" "letra4 letra4" "letra5 imgE" 3;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    justify-items: left;
    justify-content: center;
    align-self: center; }
    .colorEntre .gridEntre #pEntre {
      grid-area: letra; }
    .colorEntre .gridEntre #imgE {
      grid-area: imgE; }
    .colorEntre .gridEntre #pEntreD {
      grid-area: letra2; }
    .colorEntre .gridEntre #imgEd {
      grid-area: imgE2; }
    .colorEntre .gridEntre #pEntres {
      grid-area: letra3; }
    .colorEntre .gridEntre #imgEt {
      grid-area: imgE3; }
    .colorEntre .gridEntre #pEntrec {
      grid-area: letra4; }
    .colorEntre .gridEntre #pEntreco {
      grid-area: letra5; }
    .colorEntre .gridEntre .subEntrevista {
      font-size: 20px;
      font-family: 'Sansita Swashed', cursive;
      color: #722480;
      -width: 80%;
      text-align: justify;
      margin-left: 150px; }
  .colorEntre .imgEnt {
    margin: 10px auto;
    display: block;
    width: 50%; }
  .colorEntre .qEntrevista {
    font-size: 20px;
    font-family: 'Sansita Swashed', cursive;
    color: #722480;
    max-width: 80%;
    text-align: justify;
    margin-left: 150px; }
  .colorEntre .pEntrevista {
    font-size: 20px;
    font-family: 'Sansita Swashed', cursive;
    color: #722480;
    max-width: 80%;
    text-align: justify;
    margin-left: 150px; }
  .colorEntre .imgEntrevista {
    margin: 0 auto;
    display: block;
    width: 20%; }

.tituloRes {
  font-size: 40px;
  font-family: 'Sansita Swashed', cursive;
  color: #6e20ad;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  border-width: 10px;
  margin: 0 auto; }

.gridRe {
  display: grid;
  grid-template-areas: "parrafo imagen" "parrafo2 parrafo2";
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  justify-items: left;
  justify-content: center;
  align-self: center; }
  .gridRe #parrafo {
    grid-area: parrafo; }
  .gridRe #imagen {
    grid-area: imagen; }
  .gridRe #parrafoD {
    grid-area: parrafo2; }
  .gridRe .pReseña {
    font-size: 20px;
    font-family: 'Sansita Swashed', cursive;
    color: #722480;
    max-width: 80%;
    text-align: justify;
    margin-left: 150px; }
  .gridRe .imgR {
    padding-top: 10px;
    width: 90%;
    height: 80%;
    transition: height 2s, width 1s; }
  .gridRe .imgR:hover {
    height: 100%;
    width: 90%; }

.imgRe {
  margin: 10px auto;
  width: 40%;
  height: 30%;
  display: block; }

.tituloArt {
  font-size: 40px;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #6e20ad;
  text-align: center;
  max-width: 100; }

.parrafoArt {
  font-size: 25px;
  font-family: 'Sansita Swashed', cursive;
  color: #722480;
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
  margin: 0 auto; }

.imgArt {
  margin: 10px auto;
  display: block; }

.pieArt {
  font-size: 15px;
  font-family: 'Sansita Swashed', cursive;
  color: #275574; }

.tema {
  font-size: 20px;
  font-family: 'Sansita Swashed', cursive;
  color: #fc51c3; }

.subR {
  font-size: 18px;
  font-family: 'Sansita Swashed', cursive;
  color: #fc51c3; }

.mb-3 {
  margin-top: 10px;
  margin-bottom: 10px; }

.form-control {
  width: 30%; }

.form-select {
  width: 30%; }

.btn-primary {
  color: #04434e;
  background-color: #f3a1d8;
  border-color: white; }
