.tema{
    font-size:20px;
    font-family:'Sansita Swashed', cursive;
    color:rgb(252, 81, 195);  
}

.subR{
    font-size:18px;
    font-family:'Sansita Swashed', cursive;
    color:rgb(252, 81, 195);
}

.mb-3{
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-control {
    width: 30%;
}

.form-select {
    width: 30%;
}

.btn-primary {
    color:#04434e ;
    background-color: rgb(243, 161, 216);
    border-color: white;
}