.tituloDeb{
    font-size:40px;
    font-family:'Sansita Swashed', cursive;
    color: rgb(145, 56, 45);
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    border-width: 10px;
    margin:0 auto;
}

.pDebate{
    font-size:15px;
    font-family:'Sansita Swashed', cursive;
    color: rgb(245, 99, 119);
    max-width: 20%;
    text-align: justify;
    padding-left: 20%;
    padding-right: 20%;
    margin:0 auto;
}
