.tituloArt{
    font-size:40px;
    font-family:'Montserrat Alternates', sans-serif;
    color: rgb(247, 127, 207);
    text-align: center;
    max-width: 100;
}

.parrafoArt{
    font-size:25px;
    font-family: 'Sansita Swashed', cursive;
    color: rgb(245, 99, 119);
    text-align: center;
    padding-left: 15%;
    padding-right:15%;
    margin:0 auto;
}

.imgArt {
    margin:10px auto;
    display:block;
}
  
  
.pieArt{
    font-size:15px;
    font-family: 'Sansita Swashed', cursive;
    color:rgb(39, 85, 116)

}