.encabezado{
    background-image: linear-gradient(315deg, #f896d7 0%, #d49ef3 74%);
    width:100%;
    height: 140px;

    .nombreP{
        font-family: 'Dancing Script', cursive;
        font-size:60px;
        color: white;
        text-align: center;
        width: 100%;
        padding-top: 10px;
    }

    .subtituloIni {
        font-size:40px;
        font-family: 'Dancing Script', cursive;
        color:white;
        text-align: center;
        margin-top: 0 auto;
    }
}

.bg-light {
    background-color: #fcf7f9 !important; 
    border:solid rgb(237, 126, 252);
}

.navbar{
    padding-top: 2px;
    padding-bottom: 2px;
}

.navbar-brand{
    font-family:'Dancing Script', cursive;
}

.navbar-light .navbar-brand {
    color: #ee78cb; 
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link.active {
    color:  #ee78cb; 
    font-family:'Dancing Script', cursive;
}

.navbar-light .navbar-nav .nav-link.disabled {
    color:  #ee78cb; 
    font-family:'Dancing Script', cursive;
}

.navbar-light .navbar-nav .nav-link {
    color:  #ee78cb; 
    font-family:'Dancing Script', cursive;
    font-size: 20px;
}

.cuerpoIni {
    background-color: rgb(253, 249, 246);
    width: 100%;
    margin:0 auto;

    .carousel-inner {
        height: 550px;
    }
    
    @media(max-width:576px){
        .carousel-inner{
            height: 50%;
        }
    }
    
    .parrafoIni{
        font-size:25px;
        font-family: 'Sansita Swashed', cursive;
        color: #14d5f7;
        max-width: 80%;
        text-align: center;
        padding-left: 20%;
        padding-right:20%;
        margin:0 auto;
    }
    
    @media(max-width: 576px){
        .parrafoIni{
            display: none !important;
        }
    }
    
    .imgIni{
        margin:10px auto;
        display:block;
        width: 50%;
    }
}

.form{
    background-image: linear-gradient(315deg, #eec0c6 0%, #b5edf7 74%);
    height: 200px;

    #registrate{
        margin-top: 15px;
        color:rgb(252, 81, 195);
        font-size: 20px;
        text-decoration: none;
        font-family:'Sansita Swashed', cursive;
    }
}
