@charset "UTF-8";
.encabezado {
  background-image: linear-gradient(315deg, #f896d7 0%, #d49ef3 74%);
  width: 100%;
  height: 140px;
}

.encabezado .nombreP {
  font-family: 'Dancing Script', cursive;
  font-size: 60px;
  color: white;
  text-align: center;
  width: 100%;
  padding-top: 10px;
}

.encabezado .subtituloIni {
  font-size: 40px;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  margin-top: 0 auto;
  color: white;
}

.bg-light {
  background-color: #fcf7f9 !important;
  border: solid #ed7efc;
}

.navbar {
  padding-top: 2px;
  padding-bottom: 2px;
}

.navbar-brand {
  font-family: 'Dancing Script', cursive;
}

.navbar-light .navbar-brand {
  color: #6e20ad;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link.active {
  color: #6e20ad;
  font-family: 'Dancing Script', cursive;
}

.navbar-light .navbar-nav .nav-link.disabled {
  color: #6e20ad;
  font-family: 'Dancing Script', cursive;
}

.navbar-light .navbar-nav .nav-link {
  color: #6e20ad;
  font-family: 'Dancing Script', cursive;
  font-size: 20px;
}

.cuerpoIni {
  background-color: #fdf9f6;
  width: 100%;
  margin: 0 auto;
}

.cuerpoIni .carousel-inner img {
  width: 100%;
  max-height: 500px;
}

.cuerpoIni .carousel-inner {
  height: 500px;
  width: 100%;
}

@media (max-width: 576px) {
  .cuerpoIni .carousel-inner {
    width: 576px;
    height: 400px;
  }
}

.cuerpoIni .parrafoIni {
  font-size: 25px;
  font-family: 'Sansita Swashed', cursive;
  color: #14d5f7;
  max-width: 80%;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  margin: 0 auto;
}

@media (max-width: 576px) {
  .cuerpoIni .parrafoIni {
    display: none !important;
  }
}

.cuerpoIni .imgIni {
  margin: 10px auto;
  display: block;
  width: 50%;
}

.form {
  background-image: linear-gradient(315deg, #f896d7 0%, #d49ef3 74%);
  height: 200px;
}

.form #registrate {
  margin-top: 15px;
  color: #390b3d;
  font-size: 20px;
  text-decoration: none;
  font-family: 'Sansita Swashed', cursive;
}

.colorTips {
  background-color: #fdf9f6;
  width: 100%;
}

.colorTips .tituloTips {
  font-size: 40px;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #6e20ad;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  border-width: 10px;
  margin-left: 200px;
  margin-right: 200px;
}

@media (max-width: 576px) {
  .colorTips .tituloTips {
    margin-left: 50px;
    margin-right: 50px;
    max-width: 576px;
    font-size: 1.5em;
    text-align: center;
  }
}

.colorTips .gridTips {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "curcuma pimienta jengibre";
  grid-column-gap: 60px;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-row-align: center;
      align-self: center;
}

.colorTips .gridTips #curcuma {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: curcuma;
  border: solid #f77fcf;
}

.colorTips .gridTips #pimienta {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: pimienta;
  border: solid #f77fcf;
}

.colorTips .gridTips #jengibre {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: jengibre;
  border: solid #f77fcf;
}

.colorTips .gridTips .colorTips {
  background-color: #fdf9f6;
  width: 100%;
}

.colorTips .gridTips .listaTabla {
  font-size: 17px;
  font-family: 'Sansita Swashed', cursive;
  color: #722480;
  text-align: justify;
  margin-left: 20px;
}

.colorTips .gridTips .tituloTabla {
  font-size: 20px;
  font-family: 'Sansita Swashed', cursive;
  color: #6e20ad;
  text-align: center;
}

.colorTips .gridTips .parrafoTabla {
  font-size: 17px;
  font-family: 'Sansita Swashed', cursive;
  color: #722480;
  text-align: center;
  max-width: 300px;
}

.colorTips .gridTips .imgT {
  margin: auto;
  width: 300px;
  height: 200px;
  -webkit-transition: height 2s, width 1s;
  transition: height 2s, width 1s;
}

.colorTips .gridTips .imgT:hover {
  height: 220px;
  width: 320px;
}

@media (max-width: 576px) {
  .colorTips .gridTips {
    -ms-grid-columns: 300px;
        grid-template-columns: 300px;
    grid-row-gap: 30px;
        grid-template-areas: "curcuma" "pimienta" "jengibre";
  }
}

.colorTips .imgTips {
  margin: 10px auto;
  width: 100px;
  height: 200px;
  -webkit-transition: height 2s, width 1s;
  transition: height 2s, width 1s;
  display: block;
}

.colorTips .parrafoTips {
  font-size: 20px;
  font-family: 'Sansita Swashed', cursive;
  color: #722480;
  text-align: justify;
  padding-left: 200px;
  padding-right: 200px;
  margin-top: 10px;
}

@media (max-width: 576px) {
  .colorTips .parrafoTips {
    padding-left: 50px;
    padding-right: 50px;
    max-width: 576px;
    font-size: 1.5em;
    text-align: justify;
  }
}

.colorTips .videoT {
  text-align: center;
}

.colorEntre {
  background-color: #fdf9f6;
  width: 100%;
}

.colorEntre .tituloEntrevista {
  font-size: 40px;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #f77fcf;
  text-align: center;
  padding-left: 20px auto;
  border-width: 10px;
  margin: 20px auto;
  width: 100%;
  height: 100px;
}

.colorEntre .gridEntre {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 40%;
      grid-template-columns: 30% 40%;
  grid-column-gap: 5px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-row-align: center;
      align-self: center;
  justify-items: center;
}

.colorEntre .gridEntre .subEntrevista {
  font-size: 25px;
  font-family: 'Sansita Swashed', cursive;
  color: #f56377;
  max-width: 80%;
  text-align: center;
  padding-left: 30%;
  padding-right: 5px;
  margin: 0 auto;
}

.colorEntre .imgEnt {
  margin: 10px auto;
  display: block;
  width: 50%;
}

.colorEntre .qEntrevista {
  font-size: 20px;
  font-family: 'Sansita Swashed', cursive;
  color: #fc51c3;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  border-width: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
}

.colorEntre .pEntrevista {
  font-size: 20px;
  font-family: 'Sansita Swashed', cursive;
  color: #f56377;
  max-width: 80%;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  border-width: 10px;
  margin: 0 auto;
}

.colorEntre .imgEntrevista {
  margin: 0 auto;
  display: block;
  width: 20%;
}

.tituloRes {
  font-size: 40px;
  font-family: 'Sansita Swashed', cursive;
  color: #6e20ad;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  border-width: 10px;
  margin: 0 auto;
}

.gridRe {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "parrafo imagen" "parrafo2 parrafo2";
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  justify-items: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-row-align: center;
      align-self: center;
}

.gridRe #parrafo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: parrafo;
}

.gridRe #imagen {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: imagen;
}

.gridRe #parrafoD {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: parrafo2;
}

.gridRe .pReseña {
  font-size: 20px;
  font-family: 'Sansita Swashed', cursive;
  color: #722480;
  max-width: 80%;
  text-align: justify;
  margin-left: 150px;
}

.gridRe .imgR {
  padding-top: 10px;
  width: 90%;
  height: 80%;
  -webkit-transition: height 2s, width 1s;
  transition: height 2s, width 1s;
}

.gridRe .imgR:hover {
  height: 100%;
  width: 90%;
}

.imgRe {
  margin: 10px auto;
  width: 40%;
  height: 30%;
  display: block;
}

.tituloArt {
  font-size: 40px;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #f77fcf;
  text-align: center;
  max-width: 100;
}

.parrafoArt {
  font-size: 25px;
  font-family: 'Sansita Swashed', cursive;
  color: #cc0f28;
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
  margin: 0 auto;
}

.imgArt {
  margin: 10px auto;
  display: block;
}

.pieArt {
  font-size: 15px;
  font-family: 'Sansita Swashed', cursive;
  color: #275574;
}

.tema {
  font-size: 20px;
  font-family: 'Sansita Swashed', cursive;
  color: #fc51c3;
}

.subR {
  font-size: 18px;
  font-family: 'Sansita Swashed', cursive;
  color: #fc51c3;
}

.mb-3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-control {
  width: 30%;
}

.form-select {
  width: 30%;
}

.btn-primary {
  color: #04434e;
  background-color: #f3a1d8;
  border-color: white;
}
/*# sourceMappingURL=main.css.map */