.flex{
    display:flex;
    flex-direction: row;
    justify-content:center;
    background-image: linear-gradient(315deg, #eec0c6 0%, #b5edf7 74%);
}

.flexVert{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.grid{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-column-gap:15px ;
    align-items: center;
}

.encabezado{
    background-image: linear-gradient(315deg, #f896d7 0%, #d49ef3 74%);
    width:100%;
    height: 140px;
}

.nombreP{
    font-family: 'Dancing Script', cursive;
    font-size:60px;
    color: white;
    text-align: center;
    width: 100%;
    padding-top: 10px;
}

.tituloIni {
    font-size:40px;
    font-family:'Montserrat Alternates', sans-serif;
    color: rgb(247, 127, 207);
    text-align: center;
    width: 100%;
}

.subtituloIni {
    font-size:40px;
    font-family: 'Dancing Script', cursive;
    color:white;
    text-align: center;
    margin-top: 0 auto;
}

.bg-light {
    background-color: #fcf7f9 !important; 
    border:solid rgb(237, 126, 252);
}

.navbar{
padding-top: 2px;
padding-bottom: 2px;
}
    .navbar-brand{
        font-family:'Dancing Script', cursive;
    }

    .navbar-light .navbar-brand {
        color: #ee78cb; 
    }

    .navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link.active {
  color:  #ee78cb; 
  font-family:'Dancing Script', cursive;
}
      
        .navbar-light .navbar-nav .nav-link.disabled {
        color:  #ee78cb; 
        font-family:'Dancing Script', cursive;
    }

    .navbar-light .navbar-nav .nav-link {
        color:  #ee78cb; 
        font-family:'Dancing Script', cursive;
        font-size: 20px;
    }



  @media (max-width: 576px) {

    #menu .flex {
        flex-wrap: wrap;
    }
    #menu .flex li{
        width: 100%;
    }
    #menu .flex li a{
        width: 100%;

    }

}

.carousel-inner {
    height: 550px;
}

@media(max-width:576px){
    .carousel-inner{
        height: 50%;
    }
}

.parrafoIni{
    font-size:25px;
    font-family: 'Sansita Swashed', cursive;
    color: #14d5f7;
    max-width: 80%;
    text-align: center;
    padding-left: 20%;
    padding-right:20%;
    margin:0 auto;
}

@media(max-width: 576px){
    .parrafoIni{
        display: none !important;
    }
}

.imgIni{
    margin:10px auto;
    display:block;
    width: 50%;
}


.cuerpoIni {
    background-color: rgb(253, 249, 246);
    width: 100%;
    margin:0 auto;
}

.form{
    background-image: linear-gradient(315deg, #eec0c6 0%, #b5edf7 74%);
    height: 200px;
    
}

#registrate{
    margin-top: 15px;
    color:rgb(252, 81, 195);
    font-size: 20px;
    text-decoration: none;
    font-family:'Sansita Swashed', cursive;
}



.mb-3{
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-control {
    width: 30%;
}

.form-select {
    width: 30%;
}

.btn-primary {
    color:#04434e ;
    background-color: rgb(243, 161, 216);
    border-color: white;
}

.registrate{
    font-size:20px;
    font-family:'Dancing Script', cursive;
    color:rgb(252, 81, 195);
}

.tema{
    font-size:20px;
    font-family:'Sansita Swashed', cursive;
    color:rgb(252, 81, 195);  
}

/*artículos*/


.tituloArt{
    font-size:40px;
    font-family:'Montserrat Alternates', sans-serif;
    color: rgb(247, 127, 207);
    text-align: center;
    max-width: 100;
}

.parrafoArt{
    font-size:25px;
    font-family: 'Sansita Swashed', cursive;
    color: rgb(245, 99, 119);
    text-align: center;
    padding-left: 15%;
    padding-right:15%;
    margin:0 auto;
}

.imgArt {
    margin:10px auto;
    display:block;
}


.pieArt{
    font-size:15px;
    font-family: 'Sansita Swashed', cursive;
    color:rgb(39, 85, 116)
}

p a{
    color:rgb(252, 81, 195);
}

/*tips*/

.gridTips{
    display:grid;
    grid-template-areas:
    "curcuma pimienta jengibre";
    grid-column-gap: 60px;
    justify-items: center;
    justify-content: center;
    align-self: center;
}

#curcuma{
    grid-area: curcuma;
    border: solid rgb(247, 127, 207);
}

#pimienta{
    grid-area: pimienta;
    border: solid rgb(247, 127, 207);
}

#jengibre{
    grid-area: jengibre;
    border: solid rgb(247, 127, 207);
}

.colorTips{
    background-color:rgb(253, 249, 246);
    width: 100%;
}

.tituloTips{
    font-size:40px;
    font-family:'Montserrat Alternates', sans-serif;
    color: rgb(247, 127, 207);
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    border-width: 10px;
    margin-left: 200px;
    margin-right: 200px;
}

.parrafoTips{
    font-size:20px;
    font-family:'Sansita Swashed', cursive;
    color: rgb(247, 127, 207);
    text-align: justify;
    padding-left:200px;
    padding-right:200px;
    margin-top: 10px;
}

.imgTips{
    margin:10px auto;
    width: 40%;
    display:block;
}


.parrafoTabla{
    font-size:17px;
    font-family:'Sansita Swashed', cursive;
    color: rgb(39, 85, 116);
    text-align: center;
    max-width: 300px;
}

.listaTabla {
    font-size:17px;
    font-family:'Sansita Swashed', cursive;
    color: rgb(39, 85, 116);
    text-align: justify;
    margin-left:20px;

}

.tituloTabla{
    font-size:20px;
    font-family:'Sansita Swashed', cursive;
    color: rgb(252, 81, 195);
    text-align: center;
}

.videoT{
    text-align: center;
}

/*entrevistas*/

.gridEntre{
    display:grid;
    grid-template-columns: 30% 40%;
    grid-column-gap:5px ;
    grid-template-columns: 1fr 1fr;
    align-self:center;
    justify-items: center;
}

.colorEntre{
    background-color:rgb(253, 249, 246);
    width: 100%;
}
.tituloEntrevista{
    font-size:40px;
    font-family:'Montserrat Alternates', sans-serif;
    color: rgb(247, 127, 207);
    text-align: center;
    padding-left: 20px auto;
    border-width: 10px;
    margin:20px auto;
    width:100%;
    height: 100px;
}

.pEntrevista{
    font-size:20px;
    font-family:'Sansita Swashed', cursive;
    color:  rgb(245, 99, 119); 
    max-width:80%;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    border-width: 10px;
    margin:0 auto;
}

.subEntrevista{
    font-size:25px;
    font-family:'Sansita Swashed', cursive;
    color:rgb(245, 99, 119);
    max-width: 80%;
    text-align: center;
    padding-left: 30%;
    padding-right:5px;
    margin:0 auto; 
}

.qEntrevista{
    font-size:20px;
    font-family:'Sansita Swashed', cursive;
    color: rgb(252, 81, 195);
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    border-width: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
}

.imgEnt{
    margin:10px auto;
    display:block;
    width: 50%;
}
.imgEntrevista{
    margin:0 auto;
    display:block;
    width: 20%;
}

/*debates*/

.tituloDeb{
    font-size:40px;
    font-family:'Sansita Swashed', cursive;
    color: rgb(145, 56, 45);
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    border-width: 10px;
    margin:0 auto;
}

.pDebate{
    font-size:20px;
    font-family:'Sansita Swashed', cursive;
    color: rgb(241, 100, 81);
    max-width: 500;
    text-align: center;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    border-width: 10px;
    margin:0 auto;
   
}

.subDebate{
    font-size:25px;
    font-family:'Sansita Swashed', cursive;
    color:rgb(145, 56, 45);
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    border-width: 10px;
    margin:0 auto;
   
}

.listaDeb {
    font-size:20px;
    font-family:'Sansita Swashed', cursive;
    color:rgb(241, 100, 81);
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    border-width: 10px;
    margin:0 auto;
    list-style: none;
}
